/*** GLOBAL VARIABLES ***/
/*** GLOBAL VARIABLES END ***/
/* ***    FLEX    *** */
/* ***    TEXT  ALIGN    *** */
/* ***    TEXT  TRANSFORM    *** */
/* ***    GRID    *** */
/****    PADDING, MARGIN - 0    ****/
/* ***    DISPLAY    *** */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* ***    TEXT  COLOR    *** */
/* ***    BACKGROUND COLOR   *** */
/* ***    WIDTH, HEIGHT, BACKGROUND    *** */
/* ***    CURSOR    *** */
/* ***    POSITION  ABS-REL  *** */
.vp-header .main-header .header-wrapper .vp-menu #vp-nav-bar li a {
  position: relative;
}

/* ***    LEFT, TOP, RIGHT, BOTTOM -0  *** */
/*  Font-face: Helvetica, ubuntu, SFProText family  */
@font-face {
  font-family: "Maison-Neue-Mono";
  src: url("../fonts/Maison-Neue-Mono/Maison-Neue-Mono.woff2") format("woff2"), url("../fonts/Maison-Neue-Mono/Maison-Neue-Mono.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu-Regular";
  src: url("../fonts/Ubuntu-Regular/Ubuntu-Regular.woff2") format("woff2"), url("../fonts/Ubuntu-Regular/Ubuntu-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu-Medium";
  src: url("../fonts/Ubuntu-Medium/Ubuntu-Medium.woff2") format("woff2"), url("../fonts/Ubuntu-Medium/Ubuntu-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu-MediumItalic";
  src: url("../fonts/Ubuntu-MediumItalic/Ubuntu-MediumItalic.woff2") format("woff2"), url("../fonts/Ubuntu-MediumItalic/Ubuntu-MediumItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu-LightItalic";
  src: url("../fonts/Ubuntu-LightItalic/Ubuntu-LightItalic.woff2") format("woff2"), url("../fonts/Ubuntu-LightItalic/Ubuntu-LightItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu-Italic";
  src: url("../fonts/Ubuntu-Italic/Ubuntu-Italic.woff2") format("woff2"), url("../fonts/Ubuntu-Italic/Ubuntu-Italic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu-Bold";
  src: url("../fonts/Ubuntu-Bold/Ubuntu-Bold.woff2") format("woff2"), url("../fonts/Ubuntu-Bold/Ubuntu-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu-Light";
  src: url("../fonts/Ubuntu-Light/Ubuntu-Light.woff2") format("woff2"), url("../fonts/Ubuntu-Light/Ubuntu-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF-Semibold";
  src: url("../fonts/SF-Semibold/SF-Semibold.woff2") format("woff2"), url("../fonts/SF-Semibold/SF-Semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Rounded-Black";
  src: url("../fonts/SF-Pro-Rounded/SF-Pro-Rounded-Black.woff2") format("woff2"), url("../fonts/SF-Pro-Rounded/SF-Pro-Rounded-Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Rounded-Bold";
  src: url("../fonts/SF-Pro-Rounded/SF-Pro-Rounded-Bold.woff2") format("woff2"), url("../fonts/SF-Pro-Rounded/SF-Pro-Rounded-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Rounded-Heavy";
  src: url("../fonts/SF-Pro-Rounded/SF-Pro-Rounded-Heavy.woff2") format("woff2"), url("../fonts/SF-Pro-Rounded/SF-Pro-Rounded-Heavy.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Rounded-Light";
  src: url("../fonts/SF-Pro-Rounded/SF-Pro-Rounded-Light.woff2") format("woff2"), url("../fonts/SF-Pro-Rounded/SF-Pro-Rounded-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Rounded-Medium";
  src: url("../fonts/SF-Pro-Rounded/SF-Pro-Rounded-Medium.woff2") format("woff2"), url("../fonts/SF-Pro-Rounded/SF-Pro-Rounded-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Rounded-Regular";
  src: url("../fonts/SF-Pro-Rounded/SF-Pro-Rounded-Regular.woff2") format("woff2"), url("../fonts/SF-Pro-Rounded/SF-Pro-Rounded-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Rounded-Semibold";
  src: url("../fonts/SF-Pro-Rounded/SF-Pro-Rounded-Semibold.woff2") format("woff2"), url("../fonts/SF-Pro-Rounded/SF-Pro-Rounded-Semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Rounded-Thin";
  src: url("../fonts/SF-Pro-Rounded/SF-Pro-Rounded-Thin.woff2") format("woff2"), url("../fonts/SF-Pro-Rounded/SF-Pro-Rounded-Thin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Rounded-Ultralight";
  src: url("../fonts/SF-Pro-Rounded/SF-Pro-Rounded-Ultralight.woff2") format("woff2"), url("../fonts/SF-Pro-Rounded/SF-Pro-Rounded-Ultralight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mabry-Pro";
  src: url("../fonts/Mabry-Pro/Mabry-Pro.woff2") format("woff2"), url("../fonts/Mabry-Pro/Mabry-Pro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mabry-Pro-Black";
  src: url("../fonts/Mabry-Pro/Mabry-Pro-Black.woff2") format("woff2"), url("../fonts/Mabry-Pro/Mabry-Pro-Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mabry-Pro-Black-Italic";
  src: url("../fonts/Mabry-Pro/Mabry-Pro-Black-Italic.woff2") format("woff2"), url("../fonts/Mabry-Pro/Mabry-Pro-Black-Italic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mabry-Pro-Bold";
  src: url("../fonts/Mabry-Pro/Mabry-Pro-Bold.woff2") format("woff2"), url("../fonts/Mabry-Pro/Mabry-Pro-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mabry-Pro-Bold-Italic";
  src: url("../fonts/Mabry-Pro/Mabry-Pro-Bold-Italic.woff2") format("woff2"), url("../fonts/Mabry-Pro/Mabry-Pro-Bold-Italic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mabry-Pro-Italic";
  src: url("../fonts/Mabry-Pro/Mabry-Pro-Italic.woff2") format("woff2"), url("../fonts/Mabry-Pro/Mabry-Pro-Italic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mabry-Pro-Light";
  src: url("../fonts/Mabry-Pro/Mabry-Pro-Light.woff2") format("woff2"), url("../fonts/Mabry-Pro/Mabry-Pro-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mabry-Pro-Light-Italic";
  src: url("../fonts/Mabry-Pro/Mabry-Pro-Light-Italic.woff2") format("woff2"), url("../fonts/Mabry-Pro/Mabry-Pro-Light-Italic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mabry-Pro-Medium";
  src: url("../fonts/Mabry-Pro/Mabry-Pro-Medium.woff2") format("woff2"), url("../fonts/Mabry-Pro/Mabry-Pro-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mabry-Pro-Medium-Italic";
  src: url("../fonts/Mabry-Pro/Mabry-Pro-Medium-Italic.woff2") format("woff2"), url("../fonts/Mabry-Pro/Mabry-Pro-Medium-Italic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "fontawesome";
  src: url("../fonts/FontAwesome/fontawesome.woff2") format("woff2"), url("../fonts/FontAwesome/fontawesome.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/***** START GLOBAL TYPOGRAPHY CSS *****/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
ol, ul {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
  outline: none;
}

a:hover {
  outline: none;
  text-decoration: none;
}

/***** END GLOBAL TYPOGRAPHY CSS *****/
/*** GLOBAL VARIABLES ***/
/*** GLOBAL VARIABLES END ***/
.vp-header {
  background: #1f243b;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1040;
}

.vp-header .main-header {
  width: 90%;
  margin: auto;
  max-width: 73.125rem;
  padding: 0.625rem 0;
  /*10px 0*/
}

.vp-header .main-header .mobile-header-wrapper {
  display: none;
}

.vp-header .main-header .header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vp-header .main-header .header-wrapper .vp-log {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 11.875rem;
}

.vp-header .main-header .header-wrapper .vp-log img {
  width: 100%;
}

.vp-header .main-header .header-wrapper .vp-log span {
  font: normal 100 0.812rem "SF-Pro-Rounded-Bold";
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  background-color: #0d77f2;
  padding: 0.25rem 0.5rem;
  /*4px 8px*/
  margin-left: 0.625rem;
  /*10px*/
  border-radius: 0.25rem;
}

.vp-header .main-header .header-wrapper .vp-menu {
  max-width: 27.813rem;
  width: 100%;
  margin: 0 1.25rem;
  /*0 20px*/
}

.vp-header .main-header .header-wrapper .vp-menu #vp-nav-bar {
  padding: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 3.688rem;
}

.vp-header .main-header .header-wrapper .vp-menu #vp-nav-bar li {
  width: 8.875rem;
}

.vp-header .main-header .header-wrapper .vp-menu #vp-nav-bar li.current-page-item {
  background: #282d45;
  border-radius: 0.75rem;
}

.vp-header .main-header .header-wrapper .vp-menu #vp-nav-bar li.current-page-item a {
  font: normal 100 1rem "SF-Pro-Rounded-Medium";
  color: #1180f3;
}

.vp-header .main-header .header-wrapper .vp-menu #vp-nav-bar li.current-page-item a svg {
  fill: #1180f3;
}

.vp-header .main-header .header-wrapper .vp-menu #vp-nav-bar li a {
  font: normal 100 1rem "SF-Pro-Rounded-Regular";
  color: #fff;
  padding: 0.563rem 1.5rem;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.vp-header .main-header .header-wrapper .vp-menu #vp-nav-bar li a svg {
  width: 100%;
  height: 1rem;
  fill: #fff;
  margin-bottom: 0.438rem;
}

.vp-header .main-header .header-wrapper .vp-controller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.vp-header .main-header .header-wrapper .vp-controller .vp-button {
  width: 3.375rem;
  height: 3.375rem;
}

.vp-header .main-header .header-wrapper .vp-controller .vp-bell {
  position: relative;
  margin-right: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  background-color: #282d45;
}

.vp-header .main-header .header-wrapper .vp-controller .vp-user-initials {
  position: relative;
}

.vp-header .main-header .header-wrapper .vp-controller .vp-user-initials .vp-button {
  background-image: -webkit-gradient(linear, left top, right top, from(#0749e2), to(#1180f3));
  background-image: linear-gradient(90deg, #0749e2, #1180f3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.vp-header .main-header .header-wrapper .vp-controller .vp-user-initials span {
  font-size: 1.375rem;
  font-family: "SF-Pro-Rounded-Semibold";
}

@media (max-width: 1600px) {
  .vp-header .main-header {
    max-width: 52.188rem;
    padding: 0.313rem 0;
  }
  .vp-header .main-header .header-wrapper .vp-log {
    max-width: 9.688rem;
  }
  .vp-header .main-header .header-wrapper .vp-log span {
    font-size: 0.6875rem;
    padding: 0.188rem 0.375rem 0.125rem;
    margin-left: 0.438rem;
    line-height: 0.813rem;
  }
  .vp-header .main-header .header-wrapper .vp-menu {
    max-width: 21.875rem;
  }
  .vp-header .main-header .header-wrapper .vp-menu #vp-nav-bar li {
    width: 7.5rem;
  }
  .vp-header .main-header .header-wrapper .vp-menu #vp-nav-bar li.current-page-item a {
    font-size: 0.875rem;
  }
  .vp-header .main-header .header-wrapper .vp-menu #vp-nav-bar li a {
    font-size: 0.875rem;
    padding: 0.625rem 0.813rem;
  }
  .vp-header .main-header .header-wrapper .vp-controller .vp-button {
    width: 2.813rem;
    height: 2.813rem;
  }
  .vp-header .main-header .header-wrapper .vp-controller .vp-bell {
    margin-right: 15px;
  }
  .vp-header .main-header .header-wrapper .vp-controller .vp-user-initials span {
    font-size: 1.125rem;
  }
}

@media (max-width: 992px) {
  .vp-header .main-header .header-wrapper .vp-menu {
    max-width: 21.875rem;
  }
  .vp-header .main-header .header-wrapper .vp-menu #vp-nav-bar li a svg {
    height: 0.875rem;
    margin-bottom: 0.188rem;
  }
  .vp-header .main-header .header-wrapper .vp-controller .vp-bell {
    margin-right: 0.625rem;
  }
  .vp-header .main-header .header-wrapper .vp-controller .vp-bell img {
    width: 1.25rem;
  }
}

@media (max-width: 767px) {
  .vp-header .main-header .header-wrapper {
    display: none;
  }
  .vp-header .main-header .mobile-header-wrapper {
    display: block;
  }
  .vp-header .main-header .mobile-header-wrapper .mobile-header-block {
    width: 100%;
    position: relative;
    z-index: 9;
    background: #1f243b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .vp-header .main-header .mobile-header-wrapper .mobile-header-block .vp-log {
    max-width: 8.125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .vp-header .main-header .mobile-header-wrapper .mobile-header-block .vp-log img {
    width: 100%;
  }
  .vp-header .main-header .mobile-header-wrapper .mobile-header-block .mobile-menu-controller {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .vp-header .main-header .mobile-header-wrapper .mobile-header-block .mobile-menu-controller .vp-bell {
    width: 1.875rem;
    height: 1.875rem;
    cursor: pointer;
    position: relative;
    background-color: #282d45;
    border-radius: 50%;
    margin-right: 0.938rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .vp-header .main-header .mobile-header-wrapper .mobile-header-block .mobile-menu-controller .vp-bell img {
    width: 0.938rem;
  }
  .vp-header .main-header .mobile-header-wrapper .mobile-header-block .mobile-menu-controller .vp-user-initials {
    overflow: hidden;
    width: 1.875rem;
    height: 1.875rem;
    cursor: pointer;
    margin-right: 0.938rem;
  }
  .vp-header .main-header .mobile-header-wrapper .mobile-header-block .mobile-menu-controller .vp-user-initials .vp-button {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: -webkit-gradient(linear, left top, right top, from(#0749e2), to(#1180f3));
    background-image: linear-gradient(90deg, #0749e2, #1180f3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .vp-header .main-header .mobile-header-wrapper .mobile-header-block .mobile-menu-controller .vp-user-initials .vp-button span {
    font: normal normal 0.813rem "SF-Pro-Rounded-Semibold";
    color: #fff;
  }
  .vp-header .main-header .mobile-header-wrapper .mobile-header-block .mobile-menu-controller .mobile-menu-icon {
    width: 1.438rem;
    height: 1.25rem;
  }
  .vp-header .main-header .mobile-header-wrapper .mobile-header-block .mobile-menu-controller .mobile-menu-icon .burger {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
  }
  .vp-header .main-header .mobile-header-wrapper .mobile-header-block .mobile-menu-controller .mobile-menu-icon .burger .burger__line {
    display: block;
    width: 100%;
    height: 0.188rem;
    border-radius: 0.375rem;
    background-color: #fff;
    position: absolute;
    left: 0;
    -webkit-transition: 0.2s all linear;
    transition: 0.2s all linear;
  }
  .vp-header .main-header .mobile-header-wrapper .mobile-header-block .mobile-menu-controller .mobile-menu-icon .burger .burger__line_first {
    top: 0;
  }
  .vp-header .main-header .mobile-header-wrapper .mobile-header-block .mobile-menu-controller .mobile-menu-icon .burger .burger__line_second {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .vp-header .main-header .mobile-header-wrapper .mobile-header-block .mobile-menu-controller .mobile-menu-icon .burger .burger__line_third {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .vp-header .main-header .mobile-header-wrapper .mobile-header-block .mobile-menu-controller .mobile-menu-icon .burger .burger__line_fourth {
    bottom: 0;
  }
  .vp-header .main-header .mobile-header-wrapper .mobile-menu-wrapper .menu-bottom-logo img {
    width: 100%;
  }
  .vp-header .main-header .mobile-header-wrapper .mobile-menu-wrapper .vp-notify {
    width: 100%;
    top: 0 !important;
    left: 0 !important;
    padding: 3.125rem 1% 0 0;
  }
  .vp-header .main-header .mobile-header-wrapper .mobile-menu-wrapper .vp-notify .vp-notify-header {
    width: 90%;
    margin: 0.625rem auto;
    padding: 0;
  }
  .vp-header .main-header .mobile-header-wrapper .mobile-menu-wrapper .vp-notify .vp-notify-header .vp-notification-mark-read {
    font-size: 0.75rem;
  }
  .vp-header .main-header .mobile-header-wrapper .mobile-menu-wrapper .vp-notify .vp-notify-scroll {
    max-height: 60vh;
    padding: 0 3.5% 0 5%;
  }
  .vp-header .main-header .mobile-header-wrapper .mobile-menu-wrapper .vp-notify .vp-notify-scroll .vp-notify-item .card .media .media-body h6 {
    font-size: 0.875rem;
  }
  .vp-header .main-header .mobile-header-wrapper .mobile-menu-wrapper .vp-notify .vp-notify-scroll .vp-notify-item .card .media .media-body div[class*="vp-notify-icon-"] {
    width: 2.5rem;
    height: 2.5rem;
    min-width: 2.5rem;
  }
  .vp-header .main-header .mobile-header-wrapper .mobile-menu-wrapper .vp-notify .vp-notify-scroll .vp-notify-item .card .media .media-body div[class*="vp-notify-icon-"] span[class*="vp-bounced-"] {
    width: 1.25rem;
    height: 1.25rem;
  }
  .vp-header .main-header .mobile-header-wrapper .mobile-menu-wrapper .vp-notify .vp-notify-scroll .vp-notify-item .card .media .media-body .notification-text div .vp-notify-type,
  .vp-header .main-header .mobile-header-wrapper .mobile-menu-wrapper .vp-notify .vp-notify-scroll .vp-notify-item .card .media .media-body .notification-text div .vp-notify-date {
    font-size: 0.75rem;
  }
  .vp-header .main-header .mobile-header-wrapper .mobile-menu-wrapper .vp-notify .vp-notify-scroll .vp-notify-item .card.vp-notify-read {
    padding: 0.125rem 0.625rem 0.625rem;
  }
  .vp-header .main-header .mobile-header-wrapper .mobile-menu-wrapper .vp-notify .vp-notify-scroll .vp-notify-item .card.vp-notify-unread {
    padding: 0.625rem;
  }
  .vp-header .main-header .mobile-header-wrapper .mobile-menu-wrapper .vp-notify .vp-notify-all {
    font: normal normal 0.75rem "SF-Pro-Rounded-Semibold";
    color: #878faf;
    text-transform: uppercase;
    text-align: center;
    padding: 0.625rem 0;
    margin: 0.938rem auto auto;
  }
}

.main-layout-container {
  height: 100%;
}

.main-layout-container .campaign-contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4.75rem;
}

.main-layout-container .campaign-contact-list .first-block-btn {
  max-width: 73.125rem;
  width: 90%;
  height: 3.938rem;
  margin: auto;
}

.main-layout-container .campaign-contact-list .first-block-btn .btn-back-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

.main-layout-container .campaign-contact-list .first-block-btn .btn-back-img #back-to-campaigns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-top: 0.25rem;
}

.main-layout-container .campaign-contact-list .first-block-btn .btn-back-img #back-to-campaigns p {
  color: #5b6179;
  line-height: 2.938rem;
  font: normal normal 0.938rem "SF-Pro-Rounded-Medium";
  padding-left: 0.25rem;
}

.main-layout-container .campaign-contact-list .first-block-btn .btn-back-img #back-to-campaigns p a {
  color: #5b6179;
}

@media (max-width: 1600px) {
  .main-layout-container .campaign-contact-list {
    margin-top: 4.375rem;
  }
  .main-layout-container .campaign-contact-list .first-block-btn {
    max-width: 835px;
    height: 3.625rem;
  }
  .main-layout-container .campaign-contact-list .first-block-btn .btn-back-img #back-to-campaigns,
  .main-layout-container .campaign-contact-list .first-block-btn .btn-back-img #back-to-campaign {
    margin-top: 0rem;
  }
}

.main-layout-container .campaign-contact-list .second-block-campaign {
  width: 90%;
  max-width: 1170px;
  border-radius: 12px;
  padding: 30px 40px;
  background-image: -webkit-gradient(linear, right top, left top, from(#f6367f), to(#fe7470));
  background-image: linear-gradient(-90deg, #f6367f, #fe7470);
}

.main-layout-container .campaign-contact-list .campaign-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-layout-container .campaign-contact-list .campaign-title .block-with-title {
  width: 76%;
}

.main-layout-container .campaign-contact-list .campaign-title .block-with-title h5 {
  font: normal normal 1rem "SF-Pro-Rounded-Bold";
  line-height: 1.063rem;
  letter-spacing: 0.019rem;
  color: white;
  margin-bottom: 0.375;
}

.main-layout-container .campaign-contact-list .campaign-title .block-with-title .content-input input {
  font: normal normal 3.75rem "SF-Pro-Rounded-Semibold";
  background: none;
  outline: none;
  border: none;
  min-width: 2.5rem !important;
  max-width: 42.188rem;
  padding: 0 0.125rem;
  line-height: 4.438rem;
  color: #fff;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom-color: rgba(255, 255, 255, 0);
}

.main-layout-container .campaign-contact-list .campaign-title .block-with-title .content-input .characters-number-layer {
  height: 1.25rem;
  margin-top: 0.625rem;
}

.main-layout-container .campaign-contact-list .campaign-title .block-with-title #change-text-in-input {
  margin-left: 0.938rem;
  cursor: pointer;
  width: 5.125rem;
  margin-bottom: 1.563rem;
}

.main-layout-container .campaign-contact-list .campaign-title .block-with-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-layout-container .campaign-contact-list .campaign-title .block-with-btn button {
  width: 15.625rem;
  height: 3.125rem;
  background-color: white;
  border-radius: 25px;
  outline: none;
  border: none;
  font: normal normal 1.125rem "SF-Pro-Rounded-Medium";
  line-height: 1.313;
  color: #282d45;
}

.main-layout-container .campaign-contact-list .campaign-title .block-with-btn button:first-child {
  margin-bottom: 10px;
}

.main-layout-container .campaign-contact-list .title-btn {
  margin-top: 4.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-layout-container .campaign-contact-list .title-btn .simple-text-campaign {
  font: normal normal 1rem "SF-Pro-Rounded-Bold";
  line-height: 1rem;
  letter-spacing: 0.019rem;
  color: #fff;
  margin-right: 0.375rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main-layout-container .campaign-contact-list .title-btn .campaign-settings-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background-image: url(../../imgs/icon/CampaignEdit-Icon-Small.svg);
  background-repeat: no-repeat;
  background-size: cover;
  white-space: nowrap;
}

.main-layout-container .campaign-contact-list .title-btn .title-and-img-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.813rem;
}

.main-layout-container .campaign-contact-list .title-btn .title-and-img-flex img {
  margin-right: 0.625rem;
}

.main-layout-container .campaign-contact-list .title-btn .title-and-img-flex p {
  font: normal normal 1.125rem "SF-Pro-Rounded-Light";
  line-height: 1.125rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-layout-container .campaign-contact-list .title-btn .first-title {
  position: relative;
  width: 22%;
}

.main-layout-container .campaign-contact-list .title-btn .second-title {
  position: relative;
  width: 41%;
}

.main-layout-container .campaign-contact-list .title-btn .second-title .simple-paragraph {
  font: normal normal 1.125rem "SF-Pro-Rounded-Light";
  line-height: 1.125rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-layout-container .campaign-contact-list .title-btn .second-title .block-month {
  font: normal normal 1rem "SF-Pro-Rounded-Medium";
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  border-radius: 25px;
  margin: 0 20px 0 10px;
  padding: 5px 18px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  white-space: nowrap;
}

.main-layout-container .campaign-contact-list .title-btn .third-title {
  position: relative;
  width: 25%;
}

.main-layout-container .campaign-contact-list .title-btn .third-title .campaign-location-settings {
  margin-left: 0.625rem;
}

.main-layout-container .campaign-contact-list .title-btn .third-title .title-and-img-flex {
  margin-top: 0.625rem;
  margin-right: 1.25rem;
  padding: 0.188rem 0.313rem 0.188rem 0.625rem;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0);
  cursor: default;
  position: relative;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.main-layout-container .campaign-contact-list .title-btn .third-title .title-and-img-flex:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.main-layout-container .campaign-contact-list .title-btn .third-title .title-and-img-flex .selected-countries img {
  width: 1.063rem;
  height: 0.625rem;
  margin-right: 0.313rem;
  margin-bottom: 0,063rem;
}

.main-layout-container .campaign-contact-list .title-btn .third-title .title-and-img-flex .selected-countries span {
  font: normal normal 1.125rem "SF-Pro-Rounded-Light";
  color: #fff;
  margin-right: 0.938rem;
}

.main-layout-container .campaign-contact-list .fourth-title .tag-option .simple-paragraph {
  border: none;
  background-color: rgba(0, 0, 0, 0.33);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 0.625rem 1.563rem;
  margin-right: 0.625rem;
  margin-bottom: 0.625rem;
  border-radius: 50px;
  color: #fff;
  font: normal normal 1.125 "SF-Pro-Rounded-Light";
  line-height: 1.125;
  position: relative;
}

.main-layout-container .campaign-contact-list .fourth-title .tag-option .cancel-btn {
  position: relative;
  display: block;
  width: 1rem;
  height: 1rem;
  margin-right: 0;
  margin-left: 1rem;
  color: transparent;
  cursor: pointer;
}

.main-layout-container .campaign-contact-list .fourth-title .tag-option .cancel-btn::after {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  background-image: url(../../imgs/icon/close_icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  opacity: 0.5;
}

@media (max-width: 1600px) {
  .main-layout-container .campaign-contact-list .second-block-campaign {
    max-width: 835px;
    padding: 20px 25px 10px 30px;
  }
  .main-layout-container .campaign-contact-list .second-block-campaign .campaign-title .block-with-title h5 {
    font-size: 0.813rem;
    line-height: 0.938rem;
    margin-bottom: 0.313rem;
    letter-spacing: 0.016rem;
  }
  .main-layout-container .campaign-contact-list .second-block-campaign .campaign-title .block-with-title #campaign-input-select {
    max-width: 570px;
    font-size: 2.625rem;
    line-height: 2.813rem;
  }
  .main-layout-container .campaign-contact-list .second-block-campaign .campaign-title .block-with-title .characters-number-layer {
    margin-top: 0.313rem;
  }
  .main-layout-container .campaign-contact-list .second-block-campaign .campaign-title .block-with-title #change-text-in-input {
    margin-left: 0;
    width: 31px;
    height: 31px;
    margin-bottom: 25px;
  }
  .main-layout-container .campaign-contact-list .second-block-campaign .campaign-title .block-with-title #change-text-in-input img {
    width: 100%;
  }
  .main-layout-container .campaign-contact-list .second-block-campaign .campaign-title .block-with-btn #top-campaign-contacts {
    width: 177px;
    height: 40px;
    font-size: 0.938rem;
    line-height: 1.125rem;
  }
  .main-layout-container .campaign-contact-list .second-block-campaign .campaign-title .block-with-btn #top-campaign-contacts ::after {
    margin-bottom: 5px;
  }
  .main-layout-container .campaign-contact-list .second-block-campaign .title-btn {
    margin-top: 1.25rem;
  }
  .main-layout-container .campaign-contact-list .second-block-campaign .title-btn .simple-text-campaign {
    font-size: 0.813rem;
    line-height: 0.938rem;
    letter-spacing: 0.016rem;
  }
  .main-layout-container .campaign-contact-list .second-block-campaign .title-btn .campaign-settings-button {
    width: 1.375rem;
    height: 1.375rem;
  }
  .main-layout-container .campaign-contact-list .second-block-campaign .title-btn .title-and-img-flex img {
    margin-right: 0.313rem;
    height: 1.25rem;
  }
  .main-layout-container .campaign-contact-list .second-block-campaign .title-btn .title-and-img-flex .simple-paragraph {
    font-size: 0.938rem;
    line-height: 0.875rem;
  }
  .main-layout-container .campaign-contact-list .second-block-campaign .title-btn .title-and-img-flex .block-month {
    font-size: 0.813rem;
    margin: 0 0.938rem 0 0.313rem;
    line-height: 1rem;
  }
  .main-layout-container .campaign-contact-list .second-block-campaign .title-btn .title-and-img-flex .end {
    margin-right: 0;
  }
  .main-layout-container .campaign-contact-list .second-block-campaign .title-btn .second-title {
    width: 45%;
  }
  .main-layout-container .campaign-contact-list .second-block-campaign .title-btn .third-title {
    width: 30%;
  }
  .main-layout-container .campaign-contact-list .second-block-campaign .campaign-tags-block {
    margin-top: 0.938rem;
  }
  .main-layout-container .campaign-contact-list .second-block-campaign .campaign-tags-block .campaign-tags-changed {
    width: 1.375rem;
    height: 1.375rem;
  }
  .main-layout-container .campaign-contact-list .second-block-campaign .campaign-tags-block .campaign-tags-changed img {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .main-layout-container .campaign-contact-list .second-block-campaign {
    border-radius: 6px;
  }
  .main-layout-container .campaign-contact-list .second-block-campaign .campaign-title .block-with-title h5 {
    font-size: 0.75rem;
    margin-bottom: 0;
  }
  .main-layout-container .campaign-contact-list .second-block-campaign .campaign-title .block-with-title #campaign-input-select {
    max-width: 390px;
    font-size: 1.875rem;
    line-height: 2.5rem;
  }
  .main-layout-container .campaign-contact-list .second-block-campaign .title-btn .simple-text-campaign {
    font-size: 0.75rem;
  }
  .main-layout-container .campaign-contact-list .second-block-campaign .title-btn .block-month {
    font-size: 0.75rem !important;
  }
  .main-layout-container .campaign-contact-list .second-block-campaign .campaign-tags-block .simple-paragraph {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@media (max-width: 767px) {
  .main-layout-container .campaign-contact-list .second-block-campaign .campaign-title {
    display: block;
  }
  .main-layout-container .campaign-contact-list .second-block-campaign .campaign-title .block-with-title {
    width: 100%;
  }
  .main-layout-container .campaign-contact-list .second-block-campaign .campaign-title .block-with-title #campaign-input-select {
    width: 100% !important;
  }
  .main-layout-container .campaign-contact-list .second-block-campaign .campaign-title .block-with-btn #top-campaign-contacts {
    width: 175px;
    height: 40px;
    font-size: 0.875rem;
    line-height: 1rem;
    padding-top: 3px;
  }
  .main-layout-container .campaign-contact-list .second-block-campaign .title-btn {
    display: block;
  }
  .main-layout-container .campaign-contact-list .second-block-campaign .title-btn .title-and-img-flex {
    margin-top: 0.313rem;
  }
  .main-layout-container .campaign-contact-list .second-block-campaign .title-btn .first-title {
    width: 100%;
    margin-bottom: 1.25rem;
  }
  .main-layout-container .campaign-contact-list .second-block-campaign .title-btn .second-title {
    width: 100%;
    margin-bottom: 1.25rem;
  }
  .main-layout-container .campaign-contact-list .second-block-campaign .title-btn .second-title .simple-paragraph {
    display: none;
  }
  .main-layout-container .campaign-contact-list .second-block-campaign .title-btn .third-title {
    width: 100%;
  }
  .main-layout-container .campaign-contact-list .second-block-campaign .title-btn .third-title .campaign-location-settings {
    margin-left: 0;
  }
  .main-layout-container .campaign-contact-list .second-block-campaign .title-btn .third-title .selected-countries span {
    font-size: 0.875rem;
    margin-right: 0.625rem;
  }
  .main-layout-container .campaign-contact-list .second-block-campaign .title-btn .fourth-title .tags-selected ul {
    overflow-y: scroll;
  }
}

.fourth-campaign-message {
  max-width: 73.125rem;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fourth-campaign-message .third-block-progress-bar {
  width: 100%;
  position: relative;
  margin-top: 0.938rem;
}

.fourth-campaign-message .third-block-progress-bar .progress-bar-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fourth-campaign-message .third-block-progress-bar .progress-bar-block .progress-simple-style {
  width: 23.625rem;
  height: 20.125rem;
  background-color: rgba(25, 30, 54, 0.25);
  border-radius: 12px;
  padding: 1.875rem 2.125rem;
}

.fourth-campaign-message .third-block-progress-bar .progress-bar-block .progress-simple-style .rounder-img {
  width: 3.375rem;
  height: 3.375rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fourth-campaign-message .third-block-progress-bar .progress-bar-block .progress-simple-style .message {
  background-color: rgba(102, 227, 172, 0.5);
}

.fourth-campaign-message .third-block-progress-bar .progress-bar-block .progress-simple-style .menu {
  background-color: rgba(136, 103, 228, 0.5);
}

.fourth-campaign-message .third-block-progress-bar .progress-bar-block .progress-simple-style .accuracy {
  background-color: rgba(36, 190, 251, 0.5);
}

.fourth-campaign-message .third-block-progress-bar .progress-bar-block .progress-simple-style h1 {
  font: normal normal 1.125rem "SF-Pro-Rounded-Regular";
  color: white;
  letter-spacing: 0.011rem;
  margin-left: 0.938rem;
  width: 50%;
}

.fourth-campaign-message .third-block-progress-bar .progress-bar-block .progress-simple-style .position-progress-simple {
  margin-top: 2.625rem;
}

.fourth-campaign-message .third-block-progress-bar .progress-bar-block .progress-simple-style .position-progress-simple .progress {
  width: 10rem;
  height: 10rem;
  background: none;
  position: relative;
}

.fourth-campaign-message .third-block-progress-bar .progress-bar-block .progress-simple-style .position-progress-simple .progress::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 10px solid #3c415d;
  position: absolute;
  top: 0;
  left: 0;
}

.fourth-campaign-message .third-block-progress-bar .progress-bar-block .progress-simple-style .position-progress-simple .progress .progress-value {
  position: absolute;
  top: 0;
  left: 0;
}

.fourth-campaign-message .third-block-progress-bar .progress-bar-block .progress-simple-style .position-progress-simple .progress .progress-value .text-inside-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: normal normal 2.688rem "SF-Pro-Rounded-Medium";
  color: white;
}

.fourth-campaign-message .third-block-progress-bar .progress-bar-block .progress-simple-style .position-progress-simple .progress .progress-value .text-inside-progress span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: normal normal 2.688rem "SF-Pro-Rounded-Light";
  color: white;
}

.fourth-campaign-message .third-block-progress-bar .progress-bar-block .element-center {
  margin: 0 0.625rem;
}

.fourth-campaign-message .fourth-block-messages {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 3.75rem;
}

.fourth-campaign-message .fourth-block-messages .title h1 {
  font: normal normal 3.125rem "SF-Pro-Rounded-Semibold";
  color: white;
  padding-bottom: 0.938rem;
}

.fourth-campaign-message .fourth-block-messages .title p {
  font: normal normal 1rem "SF-Pro-Rounded-Light";
  color: #797d95;
}

.fourth-campaign-message .fourth-block-messages .btn-block-messages {
  width: 20.313rem;
  height: 100%;
  border-radius: 25px;
  background-color: #3c415d;
  padding: 0.25rem;
  margin-left: 0.625rem;
}

.fourth-campaign-message .fourth-block-messages .btn-block-messages .container-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.fourth-campaign-message .fourth-block-messages .btn-block-messages .container-btn .simple-style-btn {
  background: none;
  outline: none;
  color: white;
  border: none;
  font: normal normal 0.875rem "SF-Pro-Rounded-Semibold";
  text-transform: uppercase;
}

.fourth-campaign-message .fourth-block-messages .btn-block-messages .container-btn .sent {
  width: 5.875rem;
  height: 100%;
  border-radius: 21px;
}

.fourth-campaign-message .fourth-block-messages .btn-block-messages .container-btn .scheduled {
  padding: 0.875rem 2.5rem;
  height: 100%;
}

.fourth-campaign-message .fourth-block-messages .btn-block-messages .container-btn .draft {
  width: 5.875rem;
  height: 100%;
  border-radius: 21px;
}

.fourth-campaign-message .fourth-block-messages .btn-block-messages .container-btn .active {
  border-radius: 21px;
  padding: 0.875rem 0;
  background: #1279f1 !important;
  background: linear-gradient(176deg, #1279f1 0%, #0c4ce3 100%) !important;
}

.fourth-campaign-message .fourth-block-messages .compose-message button {
  font: normal normal 1.125rem "SF-Pro-Rounded-Medium";
  color: #fff;
  letter-spacing: 0.025rem;
  background-color: #0d77f2;
  border-radius: 50px;
  padding: 0.875rem 1.25rem 0.938rem;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fourth-campaign-message .fifth-block-info-messages {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2.5rem;
}

.fourth-campaign-message .fifth-block-info-messages .content {
  background-color: #2f344d;
  border-radius: 12px;
  padding: 1.875rem 2.875rem;
  margin-bottom: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.fourth-campaign-message .fifth-block-info-messages .content .d-flex {
  margin-bottom: 0.625rem;
}

.fourth-campaign-message .fifth-block-info-messages .content .title {
  font: normal normal 1.375rem "SF-Pro-Rounded-Semibold";
  margin-right: 0.625rem;
  color: white;
}

.fourth-campaign-message .fifth-block-info-messages .content .month {
  font: normal normal 1rem "SF-Pro-Rounded-Light";
  color: #797d95;
}

.fourth-campaign-message .fifth-block-info-messages .content .description {
  font: normal normal 1rem "SF-Pro-Rounded-Light";
  color: white;
}

.fourth-campaign-message .fifth-block-info-messages .message-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fourth-campaign-message .fifth-block-info-messages .message-contacts .img-block {
  position: relative;
  width: 3.375rem;
  height: 3.375rem;
  border-radius: 100%;
  border: 5px solid #2f344d;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.fourth-campaign-message .fifth-block-info-messages .message-contacts .img-block:last-child {
  margin-left: -0.313rem;
}

.fourth-campaign-message .fifth-block-info-messages .message-contacts .img-block img {
  width: 100%;
}

.fourth-campaign-message .btn-load-more-messages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 2.5rem 0;
}

.fourth-campaign-message .btn-load-more-messages button {
  font: normal normal 18px "SF-Pro-Rounded-Medium";
  line-height: 21px;
  border: none;
  outline: none;
  background: none;
  color: #a7abc1;
}

@media screen and (max-width: 1600px) {
  .fourth-campaign-message {
    max-width: 52.188rem;
  }
  .fourth-campaign-message .third-block-progress-bar .progress-bar-block .progress-simple-style {
    height: 16.875rem;
    padding: 1.563rem 1.875rem;
  }
  .fourth-campaign-message .third-block-progress-bar .progress-bar-block .progress-simple-style .rounder-img {
    width: 2.813rem;
    height: 2.813rem;
  }
  .fourth-campaign-message .third-block-progress-bar .progress-bar-block .progress-simple-style .rounder-img img {
    width: 1.563rem;
  }
  .fourth-campaign-message .third-block-progress-bar .progress-bar-block .progress-simple-style h1 {
    font-size: 0.938rem;
    margin-left: 0.625rem;
  }
  .fourth-campaign-message .third-block-progress-bar .progress-bar-block .progress-simple-style .position-progress-simple {
    margin-top: 1.25rem;
  }
  .fourth-campaign-message .third-block-progress-bar .progress-bar-block .progress-simple-style .position-progress-simple .progress {
    width: 9.375rem;
    height: 9.375rem;
  }
  .fourth-campaign-message .third-block-progress-bar .progress-bar-block .progress-simple-style .position-progress-simple .progress .progress-value .text-inside-progress {
    font-size: 1.875rem;
  }
  .fourth-campaign-message .third-block-progress-bar .progress-bar-block .progress-simple-style .position-progress-simple .progress .progress-value .text-inside-progress span {
    font-size: 1.875rem;
  }
  .fourth-campaign-message .fourth-block-messages {
    margin-top: 4.063rem;
  }
  .fourth-campaign-message .fourth-block-messages .title h1 {
    font-size: 2.188rem;
    padding-bottom: 0.625rem;
  }
  .fourth-campaign-message .fourth-block-messages .title p {
    max-width: 25rem;
    font-size: 0.938rem;
    line-height: 1.375rem;
  }
  .fourth-campaign-message .fourth-block-messages .btn-block-messages {
    width: 18.125rem;
  }
  .fourth-campaign-message .fourth-block-messages .btn-block-messages .container-btn .simple-style-btn {
    font-size: 0.875rem;
  }
  .fourth-campaign-message .fourth-block-messages .btn-block-messages .container-btn .scheduled {
    padding: 0.625rem 1.563rem;
  }
  .fourth-campaign-message .fourth-block-messages .btn-block-messages .container-btn .active {
    padding: 0.625rem 0;
  }
  .fourth-campaign-message .fourth-block-messages .compose-message button {
    font-size: 0.875rem;
  }
  .fourth-campaign-message .fifth-block-info-messages {
    margin-top: 1.875rem;
  }
  .fourth-campaign-message .fifth-block-info-messages .content {
    padding: 1rem 1.875rem 1.063rem;
  }
  .fourth-campaign-message .fifth-block-info-messages .content .d-flex {
    margin-bottom: 0.313rem;
  }
  .fourth-campaign-message .fifth-block-info-messages .content .title {
    font-size: 1.063rem;
  }
  .fourth-campaign-message .fifth-block-info-messages .content .month {
    font-size: 0.813rem;
  }
  .fourth-campaign-message .fifth-block-info-messages .content .description {
    font-size: 0.938rem;
  }
  .fourth-campaign-message .fifth-block-info-messages .message-contacts .img-block {
    width: 2.625rem;
    height: 2.625rem;
  }
}

@media screen and (max-width: 992px) {
  .fourth-campaign-message .third-block-progress-bar .progress-bar-block .progress-simple-style {
    height: 14.063rem;
    padding: 1.25rem;
  }
  .fourth-campaign-message .third-block-progress-bar .progress-bar-block .progress-simple-style .rounder-img {
    width: 2.5rem;
    height: 2.5rem;
  }
  .fourth-campaign-message .third-block-progress-bar .progress-bar-block .progress-simple-style .rounder-img img {
    width: 1.375rem;
  }
  .fourth-campaign-message .third-block-progress-bar .progress-bar-block .progress-simple-style h1 {
    font-size: 0.875rem;
    margin-left: 0.313rem;
  }
  .fourth-campaign-message .third-block-progress-bar .progress-bar-block .progress-simple-style .position-progress-simple {
    margin-top: 0.938rem;
  }
  .fourth-campaign-message .third-block-progress-bar .progress-bar-block .progress-simple-style .position-progress-simple .progress {
    width: 7.813rem;
    height: 7.813rem;
  }
  .fourth-campaign-message .fourth-block-messages {
    margin-top: 1.875rem;
  }
  .fourth-campaign-message .fourth-block-messages .btn-block-messages .container-btn .simple-style-btn {
    font-size: 0.75rem;
  }
  .fourth-campaign-message .fourth-block-messages .btn-block-messages .container-btn .scheduled {
    padding: 0.625rem 1.563rem;
  }
  .fourth-campaign-message .fourth-block-messages .btn-block-messages .container-btn .active {
    padding: 0.625rem 0;
  }
  .fourth-campaign-message .fourth-block-messages .compose-message button {
    width: 6.875rem;
    padding: 0.875rem 1rem 0.938rem;
  }
  .fourth-campaign-message .fifth-block-info-messages {
    margin-top: 1.25rem;
  }
  .fourth-campaign-message .fifth-block-info-messages .content {
    padding: 1.25rem 1.875rem;
    border-radius: 6px;
  }
  .fourth-campaign-message .fifth-block-info-messages .content .content-info {
    margin-right: 0.313rem;
  }
  .fourth-campaign-message .fifth-block-info-messages .content .title {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .fourth-campaign-message .third-block-progress-bar .progress-bar-block {
    display: block;
  }
  .fourth-campaign-message .third-block-progress-bar .progress-bar-block .progress-simple-style {
    width: 100%;
    margin: auto auto 0.938rem;
  }
  .fourth-campaign-message .fourth-block-messages {
    margin-top: 0.938rem;
    display: block;
  }
  .fourth-campaign-message .fourth-block-messages .title h1 {
    font-size: 1.5rem;
  }
  .fourth-campaign-message .fourth-block-messages .btn-block-messages {
    margin: 0.938rem auto auto;
  }
  .fourth-campaign-message .fourth-block-messages .compose-message {
    margin-top: 1.875rem;
  }
  .fourth-campaign-message .fourth-block-messages .compose-message button {
    width: 100%;
    margin: 0;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  color: #fff;
  background-color: #0b0f24;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1;
}
