@import "./helpers/extends";
@import "./helpers/functions";
@import "./helpers/mixins";
@import "./helpers/typeography";
@import "./helpers/variables";

@import "./header/header";
@import "./main/first-block-btn";
@import "./main/second-block";
// Base
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  color: #fff;
  background-color: #0b0f24;
  height: 100%;
  display: flex;
  flex-direction: column;
  line-height: 1;
}
