// Header

.vp-header {
  background: #1f243b;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1040;

  .main-header {
    width: 90%;
    margin: auto;
    max-width: 73.125rem; //1170px
    @include margin-or-padding(padding, 0.625rem 0) /*10px 0*/;

    .mobile-header-wrapper {
      display: none;
    }

    .header-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .vp-log {
        display: flex;
        align-items: center;
        max-width: 11.875rem; //190px
        img {
          width: 100%;
        }

        span {
          @include loadFont(
            $font-color: #fff,
            $style: normal,
            $weight: 100,
            $size: 0.812rem /*13px*/,
            $family: "SF-Pro-Rounded-Bold"
          );
          text-transform: uppercase;
          letter-spacing: 0.0625rem /*1px*/;
          background-color: rgb(13, 119, 242);
          @include margin-or-padding(padding, 0.25rem 0.5rem); /*4px 8px*/ //!
          @include margin-padding-side(left, margin, 0.625); /*10px*/
          @include border-radius(0.25rem); //4px
        }
      }

      .vp-menu {
        max-width: 27.813rem; //445px
        width: 100%;
        @include margin-or-padding(margin, 0 1.25rem); /*0 20px*/

        #vp-nav-bar {
          padding: 0;
          position: relative;
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -moz-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
          -moz-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          min-height: 3.688rem; // 59px

          li {
            width: 8.875rem; //142px
            &.current-page-item {
              background: #282d45;
              border-radius: 0.75rem; //12px

              a {
                @include loadFont(
                  $font-color: #1180f3,
                  $style: normal,
                  $weight: 100,
                  $size: 1rem /*16px*/,
                  $family: "SF-Pro-Rounded-Medium"
                );

                svg {
                  fill: $clr-1180f3;
                }
              }
            }

            a {
              @include loadFont(
                $font-color: $base-white,
                $style: normal,
                $weight: 100,
                $size: 1rem /*16px*/,
                $family: "SF-Pro-Rounded-Regular"
              );
              @include margin-or-padding(padding, 0.563rem 1.5rem); //9px 24px
              @extend %position-relative;
              z-index: 2;

              display: -webkit-box;
              display: -webkit-flex;
              display: -moz-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -webkit-align-items: center;
              -moz-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              -webkit-box-pack: center;
              -webkit-justify-content: center;
              -moz-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              -webkit-flex-wrap: wrap;
              -ms-flex-wrap: wrap;
              flex-wrap: wrap;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column;

              text-align: center;

              -webkit-transition: color 0.3s ease-in-out;
              -o-transition: color 0.3s ease-in-out;
              -moz-transition: color 0.3s ease-in-out;
              transition: color 0.3s ease-in-out;

              svg {
                width: 100%;
                height: 1rem; //16px
                fill: #fff;
                margin-bottom: 0.438rem; //7px
              }
            }
          }
        }
      }

      .vp-controller {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .vp-button {
          @include size-square(3.375rem); //54px
        }

        .vp-bell {
          position: relative;
          margin-right: 1.25rem; //20px

          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          cursor: pointer;
          background-color: #282d45;
        }

        .vp-user-initials {
          position: relative;

          .vp-button {
            background-image: linear-gradient(90deg, #0749e2, #1180f3);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            cursor: pointer;
          }

          span {
            font-size: 1.375rem /*22px*/;
            font-family: "SF-Pro-Rounded-Semibold";
          }
        }
      }
    }
  }
}

@media (max-width: 1600px) {
  .vp-header {
    .main-header {
      max-width: 52.188rem; //835px
      @include margin-or-padding(padding, 0.313rem 0); //5px 0

      .header-wrapper {
        .vp-log {
          max-width: 9.688rem; //155px

          span {
            font-size: 0.6875rem /*11px*/;
            @include margin-or-padding(
              padding,
              0.188rem 0.375rem 0.125rem
            ); //3px 6px 2px
            @include margin-padding-side(left, margin, 0.438); //7px
            line-height: 0.813rem /*11px*/;
          }
        }
        .vp-menu {
          max-width: 21.875rem; //350px

          #vp-nav-bar {
            li {
              width: 7.5rem; //120px
              &.current-page-item {
                a {
                  font-size: 0.875rem /*14px*/;
                }
              }
              a {
                font-size: 0.875rem /*14px*/;
                @include margin-or-padding(padding, 0.625rem 0.813rem)
                  //10px 13px;
;
              }
            }
          }
        }
        .vp-controller {
          .vp-button {
            @include size-square(2.813rem); //45px
          }
          .vp-bell {
            margin-right: 15px; //15px
          }
          .vp-user-initials {
            span {
              font-size: 1.125rem /*18px*/;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .vp-header {
    .main-header {
      .header-wrapper {
        .vp-menu {
          max-width: 21.875rem; //350px

          #vp-nav-bar {
            li {
              a {
                svg {
                  height: 0.875rem; //14px
                  margin-bottom: 0.188rem; //3px
                }
              }
            }
          }
        }
        .vp-controller {
          .vp-bell {
            margin-right: 0.625rem; //10px

            img {
              width: 1.25rem; //20px
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .vp-header {
    .main-header {
      .header-wrapper {
        display: none;
      }

      .mobile-header-wrapper {
        display: block;

        .mobile-header-block {
          width: 100%;
          position: relative;
          z-index: 9;
          background: #1f243b;
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -moz-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
          -moz-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;

          .vp-log {
            max-width: 8.125rem; //130px
            display: flex;
            align-items: center;

            img {
              width: 100%;
            }
          }

          .mobile-menu-controller {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -moz-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            -moz-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;

            .vp-bell {
              // Объеденить
              width: 1.875rem;//30px
              height: 1.875rem;//30px
              cursor: pointer;

              position: relative;
              background-color: #282d45;
              border-radius: 50%;
              margin-right: 0.938rem; //15px
              display: -webkit-box;
              display: -webkit-flex;
              display: -moz-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -webkit-align-items: center;
              -moz-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              -webkit-box-pack: center;
              -webkit-justify-content: center;
              -moz-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;

              img {
                width: 0.938rem;//15px
              }
            }

            .vp-user-initials {
              // Объеденить
              overflow: hidden;
              width: 1.875rem;//30px
              height: 1.875rem;//30px
              cursor: pointer;

              margin-right: 0.938rem;//15px;

              .vp-button {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-image: -webkit-gradient(
                  linear,
                  left top,
                  right top,
                  from(#0749e2),
                  to(#1180f3)
                );
                background-image: -webkit-linear-gradient(
                  left,
                  #0749e2,
                  #1180f3
                );
                background-image: -moz-linear-gradient(left, #0749e2, #1180f3);
                background-image: -o-linear-gradient(left, #0749e2, #1180f3);
                background-image: linear-gradient(90deg, #0749e2, #1180f3);
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -moz-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -moz-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;

                span {
                  font: normal normal 0.813rem /*13px*/"SF-Pro-Rounded-Semibold";
                  color: #fff;
                }
              }
            }

            .mobile-menu-icon {
              width: 1.438rem; //23px
              height: 1.25rem; //20px

              .burger {
                width: 100%;
                height: 100%;
                cursor: pointer;
                position: relative;

                .burger__line {
                  display: block;
                  width: 100%;
                  height: 0.188rem; //3px
                  border-radius: 0.375rem; //6px
                  background-color: #fff;
                  position: absolute;
                  left: 0;
                  transition: 0.2s all linear;
                }

                .burger__line_first {
                  top: 0;
                }

                .burger__line_second {
                  top: 50%;
                  transform: translateY(-50%);
                }

                .burger__line_third {
                  top: 50%;
                  transform: translateY(-50%);
                }

                .burger__line_fourth {
                  bottom: 0;
                }
              }
            }
          }
        }
        .mobile-menu-wrapper {
          .menu-bottom-logo {
            img {
              width: 100%;
            }
          }
          .vp-notify {
            width: 100%;
            top: 0 !important;
            left: 0 !important;
            @include margin-or-padding(padding, 3.125rem 1% 0 0); //50px 1% 0 0

            .vp-notify-header {
              width: 90%;
              @include margin-or-padding(margin, 0.625rem auto); //0px auto
              @include margin-or-padding(padding, 0);

              .vp-notification-mark-read {
                font-size: 0.75rem /*12px*/;
              }
            }

            .vp-notify-scroll {
              max-height: 60vh; 
              @include margin-or-padding(padding, 0 3.5% 0 5%);

              .vp-notify-item {
                .card {
                  .media {
                    .media-body {
                      h6 {
                        font-size: 0.875rem /*14px*/;
                      }
                      div[class*="vp-notify-icon-"] {
                        @include size-square(2.5rem); //40px
                        min-width: 2.5rem; //40px

                        span[class*="vp-bounced-"] {
                          @include size-square(1.25rem);//20px
                        }
                      }
                      .notification-text {
                        div {
                          .vp-notify-type,
                          .vp-notify-date {
                            font-size: 0.75rem /*12px*/;
                          }
                        }
                      }
                    }
                  }

                  &.vp-notify-read {
                    @include margin-or-padding(padding, 0.125rem 0.625rem 0.625rem); //2px 10px 10px
                  }
                  &.vp-notify-unread {
                    @include margin-or-padding(padding, 0.625rem);
                  }
                }
              }
            }

            .vp-notify-all {
              @include loadFont(
                $font-color: #878faf,
                $style: normal,
                $weight: normal,
                $size: 0.75rem /*12px*/,
                $family: "SF-Pro-Rounded-Semibold"
              );
              text-transform: uppercase;
              text-align: center;
              @include margin-or-padding(padding, 0.625rem 0); //10px 0
              @include margin-or-padding(margin, 0.938rem auto auto); //15px auto auto
            }
          }
        }
      }
    }
  }
}
