/*** GLOBAL VARIABLES ***/
$clr-34394e: #34394e;
$clr-626a89: #626a89;
$rgb-34394e: rgb(52, 57, 78);
$clr-22263b: #22263b;
$clr-323956: #323956;
$clr-424860: #424860;
$base-white: #fff;
$rgb-white: rgb(255, 255, 255);
$dark-white: rgba(255, 255, 255, 0.54);
$clr-b9bdce: #b9bdce;
$clr-4e526a: #4e526a;
$clr-bac5d7: #bac5d7;
$base-black: #000;
$rgb-black: rgb(0, 0, 0);
$clr-1180f3: #1180f3;
$rgb-color-blue: rgb(17, 128, 243);
$clr-0749e2: #0749e2;
$clr-5b6179: #5b6179;
$clr-5b6179-25transp: rgba($clr-5b6179, .25);
$clr-666d89: #666d89;
$border-radius: 5px;
$trans: transparent;
$light-border-color: #4d546e;
$active-border-color: $clr-1180f3;
$clr65697c: #65697c;
$clr2bd21b: #2bd21b;
$errorColor: #ed4956;
$full-size: 100%;
$font-size-base: 14px;
$bg-img-path: "../images/";
$media-laptop: 1370px;
$media-tablet: 992px;
$media-mobile: 767px;
/*** GLOBAL VARIABLES END ***/
